.loader {
    display: none;
    /* Стилі для завантажувача */
  }
  
  .error {
    display: none;
    /* Стилі для повідомлення про помилку */
  }
  
  .cat-info {
    display: none;
    /* Стилі для блоку інформації про кота */
  }
  